section.about {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 25px;
}

.map-container {
    flex-basis: 80%;
}

section.about aside {
    flex-basis: 30%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
}

.city-container {
    display: flex;
    flex-direction: column;
}

.city-container h2 {
    text-align: center;
}

section.about aside button {

    padding: 20px;
    margin: 12px 0;
}