.app-header {
    padding: 20px 0 5px;
    background-color: var(--clr1);

}

.header-container {
    margin: 0 1.6em;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.header-container h2 {
    color: var(--clr6);
    font-size: 1.8rem;
}

nav {
    display: flex;
    align-items: center;
    width: 25rem;
    justify-content: space-around;
    color: var(--clr6);
    font-size: 1.3rem;
}

nav .active {
    color: var(--clr5);
    text-decoration: none;
}