.index-cmps-container {
    display: flex;
}

.filter-container {
    padding-top: 15px;
    min-width: 300px;
}

.toy {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    background-color: var(--clr6);
    margin: 15px auto;
    width: 30%;
    border: 1px solid var(--clr7);
    min-width: 90%;
    height: 400px;
    border-radius: 10px;
    text-decoration: none;
    transition: background-color cubic-bezier(0.075, 0.82, 0.165, 1) .3s, transform cubic-bezier(0.075, 0.82, 0.165, 1) .3s;
}

.toy:hover {
    text-decoration: none;
    background-color: var(--clr3-light);
    transform: scale(1.06);
}

.toys-display {
    flex-basis: 100%;
    display: grid;
    min-height: 80vh;
    grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));

}

.not-in-stock {
    background-color: var(--clr2-transparent);
}

.button-container {
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 0.5em;
    gap: 15px;
}

.button-container button {
    background-color: var(--clr4);
}

.toy div.button-container.not-in-stock {
    background-color: transparent;
}