:root {
    --clr1: #000e22;
    --clr2: #001D3D;
    --clr2-transparent: #001d3d98;
    --clr3: #003566;
    --clr3-light: #2b6194;
    --clr4: #FFC300;
    --clr4-dark: #f1a500;
    --clr4-click: #d69710;
    --clr5: #FFD60A;
    --clr6: #ffffff;
    --clr7: #e2e2e2;
    --clr8: #d1d1d1;
}